<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Bookers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-left" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active p-2">
              <p class="fas fa-home text-light"><%= link_to user_path(current_user.id) do%>Home<%end%></p>
            </li>
            <li class="nav-item p-2">
              <p class="fas fa-users text-light"><%= link_to "Users", users_path %></p>
            </li>
            <li class="nav-item p-2">
              <p class="fas fa-book-open text-light"><%= link_to "Books", books_path%></p>
            </li>
            <li class="nav-item p-2">
              <p class="fas fa-sign-out-alt text-light"><%= link_to "logout", destroy_user_session_path, method: :delete%></p>
            </li>
          <%else%>
            <li class="nav-item active p-2">
              <a class="fas fa-home text-light" href="/">Home</a>
            </li>
            <li class="nav-item p-2">
              <a class="fas fa-link text-light" href="/home/about">About</a>
            </li>
            <li class="nav-item p-2">
              <a class="fas fa-user-plus text-light" href="/users/sign_up">sign up</a>
            </li>
            <li class="nav-item p-2">
              <a class="fas fa-sign-in-alt text-light" href="/users/sign_in">login</a>
            </li>
          <%end%>
        </ul>
      </div>
    </nav>
    <p id="notice"></p>
    <%= render "layouts/notifications" %>
    <%if user_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true do |form| %>
        <%= form.select "range", options_for_select([["-選択してください"], ["User","1"], ["Book", "2"]]) %>
        <%= form.select "search", options_for_select([["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
        <%= form.text_field :word %>
        <%= form.submit "検索" %>
      <%end%>
    <%end%>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">CopyRight infratop.inc</div>
        </div>
      </div>
    </footer>
  </body>
</html>
